
@import "../../style.scss";

.commudet {
    @include themify($themes) {
        padding: 20px 70px;
        background-color: themed("bgSoft");
        min-height: 100vh;
        color: themed("textColor");
        

        @include mobile {
        padding: 10px;
        }

        @include tablet{
        padding: 20px;
        }

        h1 {
        margin-bottom: 20px;
        }

        .vm {
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            background-color: themed("bg");
            color: themed("textColor");
            padding: 30px;
            margin-top: 20px;

            p {
                margin-top: 10px;
            }
        }

        .commu-post {
            margin-top: 20px;
        }
    }
}

